* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   min-height: 100vh;
   font-family: 'Bebas Neue', cursive;

 }
 

 .side-navbar {
   position: fixed;
   top: 0;
   width: 180px;
   height: 100%;
   margin-left: -300px;
   background-color: #100901;
   transition: 0.5s;
 }
 
 .nav-link:active,
 .nav-link:focus,
 .nav-link:hover {
   background-color: #ffffff26;
   
 }
 .nav-link,
 .nav-link:active,
 .nav-link:focus,
 .nav-link:hover{
     color: #fff;
     
 }

 .side-navbar a {
  
   text-decoration: none;
 }
 .my-container {
   transition: 0.4s;
 }
 
 .active-nav {
   margin-left: 0;
 }
 
 /* for main section */
 .active-cont {
   margin-left: 180px;
 }
 
 #menu-btn {
   border-radius: 10px;
  font-size: 20px;
   background-color: #100901;
   color: #fff;
   margin-left: -62px;
   
 }
 
 .my-container input {
   border-radius: 2rem;
   padding: 2px 20px;
 }

 .main-head {
   position: relative;
   font-size: 2.8rem;
   text-align: center; 
   margin: 5px;
 }

  .head {
    max-width: 100%;
    height: auto;
    margin: 0px;
  }

  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgba(156, 151, 151, 0.089); /* Grey background */
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #000000;} /* Green */
.css {width: 80%; background-color: #5e17eb;} /* Blue */
.js {width: 65%; background-color: #000000;} /* Red */
.bootstrap {width: 60%; background-color: #5e17eb;} /* Dark Grey */
.react {width: 25%; background-color: #000000;} /* Dark Grey */
.python {width: 0px; padding: 5px; background-color: #5e17eb;} 

#video-tutorials {
  margin-left: 6%;
}

.box {
  display: inline-block;
}

.video {
  display: inline-block;
  margin: 10px;
  min-height: 300px;
  height: auto;
  width: 350px;
  box-shadow: 4px 15px 18px 16px #8d8d8d;
  border-radius: 20px;
}

#projects {
  margin-left: 6%;
}

.project {
  display: inline-block;
  margin: 10px;
  min-height: 400px;
  height: auto;
  width: 350px;
  box-shadow: 2px 9px 11px 10px #8d8d8d;
  border-radius: 20px;
}

.project:hover {
  box-shadow: 4px 15px 18px 16px #8d8d8d;
}

#projects .content {
width: 350px;
height: 100px;
margin-top: 280px;
text-align: center;
color: #fff;
font-size: 30px;
padding-top: 25px;
}

.purple {
  background-color: #5e17eb;
}

.black {
background-color: #000000;
}

.white {
  color: white;
}

#contact {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}


footer {
  position: absolute;
  left: 0;
  color: #fff;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
}





